body {
    margin: 0;
    padding: 0;
    height: max-content;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-y: auto;
}
.navbar {
    position: fixed;
    top: 0;
    width: 105%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    margin-left: -5%;
}
.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-left: 10%;
    letter-spacing: 4px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.logo::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #00eaff;
    box-shadow: 0px 0px 8px #00eaff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.logo:hover::before {
    transform: scaleX(1);
}
.logo:hover {
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
}
.nav-links {
    display: flex;
    gap: 40px;
}
.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    transition: color 0.3s;
}
.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background: var(--primary-color);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.nav-links a:hover::after {
    width: 100%;
}
.toggle-mode {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 10px 15px;
    margin-right: 10%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}
.toggle-mode:hover {
    background: #e68a00;
    transform: scale(1.1);
}
.main{
    width: 105%;
    background-color: var(--bg-color);
    margin-left: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
hr{
    height: 2px;
    background-color: var(--primary-color);
}
section {
    width: 100%;
}
section.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2 {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
section h2::after {
    content: '';
    width: 50%;
    height: 4px;
    background: var(--primary-color);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}